<%= form_for(@gazetteer) do |f| %>
  <% if @gazetteer.errors.any? %>
    <div class="panel">
      <h3><%= pluralize(@gazetteer.errors.count, "error") %> prohibited this gazetteer from being saved!</h3>
      <% @gazetteer.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
      <% end %>
</div>
  <% end %>

<div class="field">
    <%= f.label :category %><br>

    <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>


  <div class="actions">
    <%= f.submit :name => nil, class: "button radius" %>
  </div>
<% end %>
