<%= form_for(@gazetteer) do |f| %>
  <% if @gazetteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gazetteer.errors.count, "error") %> prohibited this gazetteer from being saved:</h2>

      <ul>
      <% @gazetteer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.collection_select(:category_id, @categories, :id, :name, {:selected => @gazetteer.category_id}) %>
  </div>

  <div class="actions">
    <%= f.submit :name => nil, class: "button radius" %>
  </div>
<% end %>
