
<h1>Listing gazetteers</h1>
<%= form_tag gazetteers_path, :method => :get do %>

<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search nearby", :name => nil, class: "large button radius" %>
</p>
<% end %>
<i class="batch batch-#{batch-browser-download}"></i>
<nav class="breadcrumbs">
<p>Download:
  <%= link_to "CSV", gazetteers_path(format: "csv") %> |
  <%= link_to "Excel", gazetteers_path(format: "xls") %>
</p>
</nav>
<table>
  <thead>
    <tr>
      <th>Full Address</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Gmaps</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gazetteers.each do |gazetteer| %>
      <tr>
        <td><%= gazetteer.full_address %></td>
        <td><%= gazetteer.address %></td>
        <td><%= gazetteer.latitude %></td>
        <td><%= gazetteer.longitude %></td>
        <td><%= gazetteer.gmaps %></td>
        <td><%= gazetteer.category.name %></td>
        <td><%= link_to 'Show', gazetteer %></td>
        <td><%= link_to 'Edit', edit_gazetteer_path(gazetteer) %></td>
        <td><%= link_to 'Destroy', gazetteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @gazetteers, class: 'pagination-centered' %>


<%= link_to 'New Gazetteer', new_gazetteer_path, class: "button radius" %>


<div class="map_container">
  <div id="map" class="gmaps4rails_map"></div>
</div>

<script type="text/javascript" charset="utf-8">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
