<h1>Listing gazetteers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Gmaps</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gazetteers.each do |gazetteer| %>
      <tr>
        <td><%= gazetteer.name %></td>
        <td><%= gazetteer.address %></td>
        <td><%= gazetteer.latitude %></td>
        <td><%= gazetteer.longitude %></td>
        <td><%= gazetteer.gmaps %></td>
        <td><%= link_to 'Show', gazetteer %></td>
        <td><%= link_to 'Edit', edit_gazetteer_path(gazetteer) %></td>
        <td><%= link_to 'Destroy', gazetteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gazetteer', new_gazetteer_path %>

Maps should go below:<br>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript" charset="utf-8">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>