
<h1>Listing gazetteers</h1>
<%= form_tag gazetteers_path, :method => :get do %>

<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search nearby", :name => nil, class: "large button radius" %>
</p>
<% end %>

<div class="panel">
  Download:
    <%= link_to "CSV", gazetteers_path(format: "csv") %> |
    <%= link_to "Excel", gazetteers_path(format: "xls") %>
</div>

<table>
  <thead>
    <tr>
      <th>Full Address</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Gmaps</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gazetteers.each do |gazetteer| %>
      <tr>
        <td><%= gazetteer.full_address %></td>
        <td><%= gazetteer.address %></td>
        <td><%= gazetteer.latitude %></td>
        <td><%= gazetteer.longitude %></td>
        <td><%= gazetteer.gmaps %></td>
        <td><%= gazetteer.category.name %></td>
        <td><%= link_to 'Show', gazetteer %></td>
        <td><%= link_to 'Edit', edit_gazetteer_path(gazetteer) %></td>
        <td><%= link_to 'Destroy', gazetteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= will_paginate @gazetteers, class: 'flickr_pagination' %></p>

<p><%= link_to 'New Gazetteer', new_gazetteer_path, class: "large button radius" %></p>
<%= render 'gmaps' %>
