<% content_for :title do %>Show Gazetteer<% end %>
<h1>Show gazetteer</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Full Address:</strong>
  <%= @gazetteer.full_address %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gazetteer.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @gazetteer.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @gazetteer.longitude %>
</p>

<p>
  <strong>Gmaps:</strong>
  <%= @gazetteer.gmaps %>
</p>
<%= link_to 'Edit', edit_gazetteer_path(@gazetteer) %> |
<%= link_to 'Back', gazetteers_path %>

<h3>Nearby gazetteers</h3>

<ul>

<% for gazetteer in @gazetteer.nearbys(10)  %>
<% if gazetteer.latitude != nil %>
<li><%= link_to gazetteer.address, gazetteer %> (<%= gazetteer.distance.round(2) %> 公里)</li>
<% else %>
<p>No nearby address found for this gazetteer!</p>
<% end %>
<% end %>

</ul>

<div class="row">
  <div id="map" class="large-12 columns" ></div>
</div>
<script type="text/javascript" charset="utf-8">
  handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>


