
<h1>Show gazetteer</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gazetteer.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @gazetteer.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @gazetteer.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @gazetteer.longitude %>
</p>

<p>
  <strong>Gmaps:</strong>
  <%= @gazetteer.gmaps %>
</p>

<h3>Nearby gazetteers</h3>
<ul>
<% for gazetteer in @gazetteer.nearbys(1000) %>
<li><%= link_to gazetteer.address, gazetteer %> (<%= gazetteer.distance.round(2) %> miles)</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_gazetteer_path(@gazetteer) %> |
<%= link_to 'Back', gazetteers_path %>



<div class="map_container">
  <div id="map" class="gmaps4rails_map"></div>
</div>

<script type="text/javascript" charset="utf-8">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>


