<%= simple_form_for(@track) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.file_field :gpx %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
