<p id="notice"><%= notice %></p>

<p>
  <strong>Continent:</strong>
  <%= @tbl_level1.continent %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tbl_level1.description %>
</p>

<%= link_to 'Edit', edit_tbl_level1_path(@tbl_level1) %> |
<%= link_to 'Back', tbl_level1s_path %>
