<%= form_for(@tdwg_level_three) do |f| %>
  <% if @tdwg_level_three.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tdwg_level_three.errors.count, "error") %> prohibited this tdwg_level_three from being saved:</h2>

      <ul>
      <% @tdwg_level_three.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :tdwg_level_two_id %><br>
    <%= f.number_field :tdwg_level_two_id %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :iso_code %><br>
    <%= f.text_field :iso_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
