<p id="notice"><%= notice %></p>

<p>
  <strong>Continent:</strong>
  <%= @tdwg_level_one.continent %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tdwg_level_one.description %>
</p>

<%= link_to 'Edit', edit_tdwg_level_one_path(@tdwg_level_one) %> |
<%= link_to 'Back', tdwg_level_ones_path %>
