<header id="page_header">
  <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Range Over of Plants", gazetteers_path %></a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "Browse Gazetteers", gazetteers_path %></li>
          <li class="divider"></li>
          <li class="has-dropdown"><%= link_to "Geocoding", 'batch' %>
          <ul class="dropdown">
            <li class="divider"></li>
            <li><%= link_to "Single by address", '/gazetteers/new'%></li>
            <li><%= link_to "Single by map form", '/geocode'%></li>
            <li><%= link_to "Single by map form2", '/geocode/show'%></li>
          <li><%= link_to "Batch by upload file", '/upload' %></li>
          <li><%= link_to "Batch by webform", 'batch' %></li>
        </ul>
        </li>
        <li class="divider"></li>
          <li class="has-dropdown"><%= link_to "tdwg" %>
          <ul class="dropdown">
            <li class="divider"></li>
            <li><%= link_to "Level One-continent", tdwg_level_ones_path %></li>
          <li><%= link_to "Level Two-region", tdwg_level_twos_path %></li>
          <li><%= link_to "Level Three-area", tdwg_level_threes_path %></li>
          <li><%= link_to "Level Four-botanical-country", tdwg_level_fours_path %></li>
          <li><%= link_to "TDWG gazetteers", tdwg_gazetteers_path %></li>
        </ul>
        </li>
          <li class="divider"></li>
          <li><%= link_to "Log in", '/users/sign_in' %></li>
          <li class="divider"></li>
          <li><%= link_to "Register", '/users/sign_up' %></li>
          <li class="divider"></li>
          <li><%= link_to "Contact Us", '/contact' %></li>
          <li class="divider"></li>
          <li><%= link_to "About us", '/about' %></li>
          <li class="divider"></li>
          <li class="has-dropdown"><%= link_to "Help" %>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><%= link_to "about service provider", 'show' %></li>
              <li><%= link_to "about georeferrenced example", 'help' %></li>
            </ul>
          </li>

        </ul>
      </section>
    </nav>
</header>
