<div class="row">
  <div class="large-2 columns">
    <ul class="side-nav">
      <%= link_to 'Who is online(users)', '#' %>
      <%= link_to 'Recent Uploaded Images', '#' %>
      <%= link_to 'Recent Field Suvey Events', '#' %>
      <%= link_to 'Recent Uploaded gazetteers', '#' %>
      <%= link_to 'Recent Uploaded tracks', '#' %>
    </ul>
  </div>
</div>
